<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  
  <sitecore>
    <databases>
      <!-- ************************************************************************************
            Create corresponding connection strings in your ConnectionStrings.config for some 
            or all of these entries and uncomment them.
           ************************************************************************************-->

      <!--<database id="core_TEST" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="master_TEST" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="web_TEST" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="core_PROD" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="master_PROD" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="web_PROD" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)" />
        </dataProviders>
      </database>-->
      </databases>
  </sitecore>
</configuration>
